cypress/screenshots
cypress/e2e/Outros
cypress/e2e/Massa
cypress/e2e/Excecoes
cypress/videos
*.env.json
cypress.env.json
node_modules
*.txt 
*.sql
Comandos_Uteis.txt
cypress.env.json
05 - Sql_Query.sql